<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/ui-grid-unstable.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/ui-grid-unstable.js"></script>


    <link rel="shortcut icon" href="Images/sedan-512.png">

    <style>
        body {
            background-color: grey;
            background-size: 100%
        }
        td {
            color: black
        }
    </style>


</head>

    
<body ng-app="carFinderApp">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Car Finder Extraordinaire</a>
            </div><!-- /.navbar-collapse -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/help">API Help</a></li>
            </ul>
</div><!-- /.container-fluid -->
  
</nav>
<div ng-controller="carFinderController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label for="Years">Select Year</label>
                    <select ng-model="selectedYear" ng-options="year for year in years" ng-change="getMakes()" class="form-control"></select>
                </div>
                <div class="col-md-3">
                    <label for="Makes">Select Make</label>
                    <select ng-model="selectedMake" ng-options="make for make in makes" ng-change="getModels()" class="form-control"></select>
                </div>
                <div class="col-md-3">
                    <label for="Model">Select Model</label>
                    <select ng-model="selectedModel" ng-options="model for model in models" ng-change="getTrims()" class="form-control"></select>
                </div>
                <div class="col-md-3">
                    <label for="Trims">Select Trim</label>
                    <select ng-model="selectedTrim" ng-options="trim for trim in trims" ng-change="getCars()" class="form-control"></select>
                </div>
            </div>           
        </div>
        <div class="col-md-12">
          
                <div ui-grid="myData" external-scopes="gridFunctions" class="myGrid"></div>


        
        </div>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{car.Car.year}} {{car.Car.make}} {{car.Car.model}}</h3>
        </div>
        <div class="modal-body">
            <img src="{{car.ImageUrl}}" style="width:100%" />
            <br />
            <tabset justified="true">
                <tab heading="Car Data">
                    Year: {{car.Car.year}}
                    Make: {{car.Car.make}}
                    Model: {{car.Car.model}}
                    Trim: {{car.Car.trim}}
                </tab>
                <tab heading="Recall Data">
                    
                    <div class="row">
                        Component: {{arrayRecall[current].Component}}
                    </div>
                    <div class="row">
                       Summary: {{arrayRecall[current].Summary}}
                    </div>
                    <div class="row">
                        Conequence: {{arrayRecall[current].Conequence}}
                    </div>
                    <div class="row">
                        Resolution: {{arrayRecall[current].Remedy}}
                    </div>
                    <div>
                        <button class="btn btn-primary" ng-click="previous()">Previous</button>
                        <button class="btn btn-primary" ng-click="next()">Next</button>
                    </div>
                    
                </tab>
            </tabset>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

   
</div>


    <script src="NgApps/Modules/app.js"></script>
    <script src="NgApps/Service/carSvc.js"></script>
    <script src="NgApps/Controller/carController.js"></script>














</body>
</html>
